@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  font-family: "Press Start 2P", cursive;

  background-image: url(https://i.redd.it/74crvhb3vyn61.png); /* Thanks reddit for hosting the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
